[core]
    editor = vim

[push]
    default = current

[color]
    ui = true

[help]
    autocorrect = 1

[user]
    name = Ondrej Slinták
    email = ondrowan@gmail.com

[alias]
    co = checkout
    sb = checkout -b
    amend = commit -a --amend
    undo = reset HEAD~1 --mixed
    squash = rebase -i
    ll = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[merge]
	conflictstyle = diff3
